<ion-content color='light' fullscreen>
	<div class='ion-page ion-padding ion-align-items-center ion-justify-content-center width-full height-full'>
		<h1>Welcome to Claims Tracker!</h1>
		<br>
		<form #loginForm='ngForm' (ngSubmit)='handleSubmit()'>
			<ion-item fill='outline'>
				<ion-label position='floating'>User Name</ion-label>
				<ion-input
						[(ngModel)]='username'
						[required]='true'
						name='username'
						placeholder='Enter your name'
						type='text'
				></ion-input>
				<!--				<ion-note slot='error' *ngIf='!loginForm.untouched'>Invalid Email Address!</ion-note>-->
			</ion-item>
			<br>
			<ion-item fill='outline'>
				<ion-label position='floating'>Email</ion-label>
				<ion-input
						[(ngModel)]='email'
						[required]='true'
						email
						name='email'
						placeholder='Enter your email'
						type='email'
				></ion-input>
				<!--				<ion-note slot='error' *ngIf='!loginForm.untouched'>Invalid Email Address!</ion-note>-->
			</ion-item>
			<br>
			<ion-item fill='outline'>
				<ion-label position='floating'>Password</ion-label>
				<ion-input
						[(ngModel)]='password'
						[required]='true'
						maxlength='20'
						minlength='6'
						name='password'
						placeholder='Enter your password'
						type='password'
				></ion-input>
				<!--				<ion-note slot='error' *ngIf='!loginForm.untouched'>Invalid Password!</ion-note>-->
			</ion-item>
			<br>
			<ion-label>Already have an account?
				<u routerLink='/login' class='ion-color-primary'>Login!</u>
			</ion-label>
			<br>
			<br>
			<ion-button color='primary' expand='block' shape='round'>
				Signup
			</ion-button>
			<br>
			<div class='horizontal-divider'></div>
			<br>
			<ion-button buttonType='button' color='danger' expand='block' fill='solid' shape='round' slot='icon'>
				<ion-icon name='logo-google'></ion-icon>
			</ion-button>
		</form>
	</div>
</ion-content>
